@import "tailwindcss";

@theme {
  --color-primary: #0a0a0a;
  --color-accent: #3b82f6;
  
  --font-display: "Outfit", sans-serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  background-color: #0d1117; /* Slights different dark for admin */
  color: #ffffff;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
